<h1>Gods#new</h1>
<p>Find me in app/views/gods/new.html.erb</p>
<div class="container", data-controller="god">
  <%= simple_form_for @god do |f| %>
    <%= f.input :random_name, as: :boolean, label: "Choose a Name?", input_html: { data: {action: 'change->god#namecheck'} }%>
    <div data-god-target="name" class="d-none">
      <%= f.input :name, label: "What is your God's name?"%>
    </div>
    <%= f.input :random_alignment, as: :boolean, label: "Choose an Alignment", input_html: { data: {action: 'change->god#alignmentcheck'} }%>
    <div data-god-target="alignment" class="d-none">
      <%= f.input :alignment, collection: God::ALIGNMENTS, prompt: "Select an Alignment" %>
    </div>
    <%= f.input :random_domain, as: :boolean, label: "Choose a Domain", input_html: { data: {action: 'change->god#domaincheck'} }%>
    <div data-god-target="domain" class="d-none">
      <%= f.input :domain, collection: God::DOMAINS, prompt: "Select a Domain" %>
    </div>
    <%= f.submit%>
  <% end %>
</div>
