<div class="container">
  <%# big breaker %>
  <div class="row">
    <%# left side %>
    <div class="col-5">
      <div class="row ">
        <div class="col-12">
          <%# GOD PICTURE HERE  %>
          <div class="d-flex justify-content-center">
            <% if @god.photo.attached? then %>
              <%= render 'shared/god_image', god: @god, ali: @ali %>
            <% else %>
              <%= render 'shared/false_image', god: @god %>
            <% end %>
          </div>
        </div>
        <div class="col-12">
          <h1 class="d-flex justify-content-center god_name"><%= @god.name %></p>
        </div>
        <div class="col-12">
          <h2 class="d-flex justify-content-center god_epitaph">" <%= @god.epitaph %> "</p>
        </div>
        <div class="col-6">
          <span class="d-flex justify-content-center">Alignment: <%= @god.alignment.name %></span>
        </div>
        <div class="col-6">
          <span class="d-flex justify-content-center">Domain: <%= @god.domain.name %></span>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h3>Themes:</h3>
            </div>
            <% @god.themes.each do |theme| %>
              <div class="col-4">
                <%= render 'shared/god_theme', theme: theme %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%# Right Side  %>
    <div class="col-7">
      <div class="row">
        <div class="col-12 mb-3 god-backing">
          <h3>Description:</h3>
          <%= @god.description %>
        </div>
        <div class="col-12 mb-3 god-backing">
          <h3>Follower Tenets:</h3>
          <ul>
            <% @god.tenets.each do |tenet| %>
              <li><%= tenet %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-12 mb-3 god-backing">
          <h2>Artifacts:</h2>
          <%= link_to "new artifact", new_god_artifact_path(@god), class: "btn btn-success" %>
          <% @god.artifacts.each do |artifact| %>
            <%= link_to "#{artifact.name}", artifact_path(artifact), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <%# seperation of Prompt Button & text (hidden) %>
    <div class="d-flex justify-content-center my-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg">Prompts</button>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <h5>Prompts:</h5>
          <p><%= @god.prompt %></p>
          <p><%= @god.img_prompt %></p>
        </div>
      </div>
    </div>
