<div class="devise-card" data-controller="follower">
  <h1 class="d-flex justify-content-center">New Follower for <%= @god.name %></h1>
  <%# <%= simple_form_for [@god, @follower] do |f| %>
    <%# <%= f.submit %>
    <%# <% end %>
    <%= simple_form_for [@god, @follower]  do |f| %>
      <%= f.input :random_name, as: :boolean, label: "Choose a Name?", input_html: { data: {action: 'change->follower#namecheck'} }%>
      <div data-follower-target="name" class="d-none">
        <%= f.input :name, label: "What is your follower's name?"%>
      </div>
      <%= f.input :random_alignment, as: :boolean, label: "Choose an Alignment", input_html: { data: {action: 'change->follower#alignmentcheck'} }%>
      <div data-follower-target="alignment" class="d-none">
        <%= f.input :alignment, collection: Follower::ALIGNMENTS, label: "What is your follower's Alignment?", prompt: "Select an Alignment" %>
      </div>
      <%= f.input :random_species, as: :boolean, label: "Choose a Species", input_html: { data: {action: 'change->follower#racecheck'} }%>
      <div data-follower-target="race" class="d-none">
        <%= f.input :species, collection: Follower::RACES, label: "What is your follower's species?", prompt: "Select a Species" %>
      </div>
      <%= f.input :random_gender, as: :boolean, label: "Choose a Gender", input_html: { data: {action: 'change->follower#gendercheck'} }%>
      <div data-follower-target="gender" class="d-none">
        <%= f.input :gender, collection: Follower::GENDERS, label: "What is your follower's gender?", prompt: "Select the follower's Gender" %>
      </div>
      <%= f.input :random_profession, as: :boolean, label: "Choose a profession", input_html: { data: {action: 'change->follower#professioncheck'} }%>
      <div data-follower-target="profession" class="d-none">
        <%= f.input :profession, collection: Follower::PROFESSIONS, label: "What is your follower's profession?", prompt: "Select a profession" %>
      </div>
      <span class="d-flex justify-content-center">
        <input type="submit" name="commit" value="Create follower" data-disable-with="Create follower" class="btn-create">
      </span>
    <% end %>
  </div>
