<div class="devise-card" data-controller="follower">
  <h1 class="d-flex justify-content-center">New Follower for <%= @god.name %></h1>
  <div class="container">
    <p>Check the boxes below if you want to specify any particular details for a follower, or/then press the button to create this new character!</p>
    <%= simple_form_for [@god, @follower]  do |f| %>
      <%= f.input :random_name, as: :boolean, label: "Choose a Name?", input_html: { data: {action: 'change->follower#namecheck'} }%>
      <div data-follower-target="name" class="d-none">
        <%= f.input :name, label: "What is your follower's name?"%>
      </div>
      <%= f.input :random_alignment, as: :boolean, label: "Choose an Alignment", input_html: { data: {action: 'change->follower#alignmentcheck'} }%>
      <div data-follower-target="alignment" class="d-none">
        <%= f.input :alignment, collection: Follower::ALIGNMENTS, label: "What is your follower's Alignment?", prompt: "Select an Alignment" %>
      </div>
      <%= f.input :random_species, as: :boolean, label: "Choose a Species", input_html: { data: {action: 'change->follower#racecheck'} }%>
      <div data-follower-target="race" class="d-none">
        <%= f.input :species, collection: Follower::RACES, label: "What is your follower's species?", prompt: "Select a Species" %>
      </div>
      <%= f.input :random_gender, as: :boolean, label: "Choose a Gender", input_html: { data: {action: 'change->follower#gendercheck'} }%>
      <div data-follower-target="gender" class="d-none">
        <%= f.input :gender, collection: Follower::GENDERS, label: "What is your follower's gender?", prompt: "Select the follower's Gender" %>
      </div>
      <%= f.input :random_profession, as: :boolean, label: "Choose a profession", input_html: { data: {action: 'change->follower#professioncheck'} }%>
      <div data-follower-target="profession" class="d-none">
        <%= f.input :profession, collection: Follower::PROFESSIONS, label: "What is your follower's profession?", prompt: "Select a profession" %>
      </div>
    </div>
    <span class="d-flex justify-content-center">
      <input type="submit" name="commit" value="Create follower" data-disable-with="Create Follower" class="btn-create">
    </span>
  <% end %>
</div>
<div class="d-flex justify-content-center mt-3">
  <a class="btn-gold" href="/gods/<%= @god.id %>">
    <span class="btn-text">Back to <%= @god.name %></span>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="228px" height="48px" viewBox="0 0 337 68" style="enable-background:new 0 0 337 68;" xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: url(#SVGID_1_);
        }

        .st1 {
          fill: url(#SVGID_2_);
        }

        .st2 {
          fill: url(#SVGID_3_);
        }
      </style>
      <g>
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="14.1012" y1="34" x2="322.8987" y2="34">
          <stop offset="0" style="stop-color:#E2D8AB" />
          <stop offset="1" style="stop-color:#9E805D" />
        </linearGradient>
        <polygon class="st0" points="310,12 27,12 14.1,24.9 14.1,43.1 27,56 310,56 322.9,43.1 322.9,24.9 	" />
      </g>
      <g>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="168.5" y1="4.6422" x2="168.5" y2="63.3578">
          <stop offset="0" style="stop-color:#E2D8AB" />
          <stop offset="1" style="stop-color:#9E805D" />
        </linearGradient>
        <path class="st1" d="M311.9,8.1L327,23.3v21.4l-15.1,15.1H25.1L10,44.7V23.3L25.1,8.1H311.9 M313.3,4.6H23.7L6.5,21.8v24.3
		l17.2,17.2h289.6l17.2-17.2V21.8L313.3,4.6L313.3,4.6z" />
      </g>
      <g>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="168.5" y1="12" x2="168.5" y2="56">
          <stop offset="0" style="stop-color:#E2D8AB" />
          <stop offset="1" style="stop-color:#9E805D" />
        </linearGradient>
        <path class="st2" d="M309.5,13.2l12.2,12.2v17.2l-12.2,12.2h-282L15.3,42.6V25.4l12.2-12.2H309.5 M310,12H27L14.1,24.9v18.2L27,56
		h283l12.9-12.9V24.9L310,12L310,12z" />
      </g>
    </svg>
  </a>
</div>
